---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";
import GlobalStyles from '../../components/GlobalStyles.astro';
import { contentfulClient, Article } from "../../lib/contentful";

const entries = await contentfulClient.getEntries<Article>({
  content_type: "article",
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>C³ – Articles</title>
		<GlobalStyles />
	</head>
	<body>
		<h1>C³ Work Service</h1>
		  {entries.items.map((item) => (
				<section>
					<h2><a href={`/articles/${item.fields.urlSlug}`}>{item.fields.title}</a></h2>
					<!-- <article set:html={documentToHtmlString(item.fields.body)}></article> -->
				</section>
			))}
	</body>
</html>
