---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import GlobalStyles from '../components/GlobalStyles.astro';
import LineItem from '../components/HomepageLineItem.astro';
import PageWrapper from '../components/PageWrapper.astro';
import { contentfulClient, HomepageLineItem } from "../lib/contentful";

const entries = await contentfulClient.getEntries<HomepageLineItem>({
  content_type: "homepageLineItem",
	order: "fields.ordering,-fields.eventDate,-sys.createdAt",
	include: 10,
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>C³ Work/Service</title>
		<GlobalStyles />
		<style>
			h1 {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<PageWrapper>
		  {entries.items.map((item) => (
				<LineItem lineItem={item}>
					<div
						set:html={item.fields.richText ? documentToHtmlString(item.fields.richText) : item.fields.name}
					></div>
					{item.fields.eventDate && 
						<div class="date">{item.fields.eventDate}</div>
					}
				</LineItem>
			))}
		</PageWrapper>
	</body>
</html>
