---
import { getUrlForContent } from "../lib/contentful.ts"
import type { HomepageLineItem } from "../lib/contentful.ts"

const { lineItem }: { lineItem: HompageLineItem } = Astro.props;

const href = lineItem.fields.linkToUrl ? lineItem.fields.linkToUrl : getUrlForContent(lineItem.fields.linkToArticle);
  
---
<style>
.homepageLineItem {
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  margin: 8px;
}
a.homepageLineItem {
  border: 1px solid lightgray;
  display: block;
}
</style>
{
  href ?
    <a href={href} class="homepageLineItem"><slot /></a>
  :
    <div class="homepageLineItem"><slot /></div>
}